
<ion-button class="button-arrow" (click)="show()" mode="ios">
  <ion-icon name="chevron-up-outline" id="icon-arrow"></ion-icon>
</ion-button>

<div id="form">
  <form  autocomplete="off" class="p-20">

    <input 
      [(ngModel)]="formCotizar.origen" 
      name="origen"
      class="input_formulario" 
      placeholder="Origen"
      #placesRef="ngx-places" 
      (onAddressChange)="origenAddress($event)"
      ngx-google-places-autocomplete/>

    <input 
      [(ngModel)]="formCotizar.destino" 
      name="destino"
      class="input_formulario" 
      placeholder="Destino"
      #placesRef="ngx-places" 
      (onAddressChange)="destinoAddress($event)"
      ngx-google-places-autocomplete/>

    <input 
      type="number" 
      placeholder="Estimado" 
      [(ngModel)]="formCotizar.estimado" 
      name="estimado" 
      disabled/>

  </form>
</div>