<ion-modal [isOpen]="modalsService.modalDisLike" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <app-header
      [modal]="true"
      [backColor]="'#FFF25C'"
      [title]="'CALIFICAR' | translate"
      (btnCancel)="cancel()">
    </app-header>

    <ion-content class="ion-padding">

      <app-item-radio
        *ngFor="let opcion of nogusto; let i = index"
        [index]="i"
        [calificacion]="calificacion"
        [opcion]="opcion">
      </app-item-radio>
      
      <app-form-calificar
        [calificacion]="calificacion"
        (btnConfirm)="confirm($event)">
      </app-form-calificar>

    </ion-content>
  </ng-template>
</ion-modal>