<ion-content>

  <app-header
    [backColor]="'#8DD7F7'"
    [title]=" 'IDIOMA' | translate">
  </app-header>

  <app-item-idioma
    [idioma]="'es'"
    [img]="'assets/new/idioma/espanol.png'"
    [label]="'ESPAÑOL' | translate">
  </app-item-idioma>

  <app-item-idioma
    [idioma]="'fr'" 
    [img]="'assets/new/idioma/frances.png'"
    [label]="'FRANCES' | translate">
  </app-item-idioma>

  <app-item-idioma
    [idioma]="'en'" 
    [img]="'assets/new/idioma/ingles.png'"
    [label]="'INGLES' | translate">
  </app-item-idioma>

</ion-content>
