.content-bar {
    width: 100%;
    height: 5px;
    display: flex;
}
.b {
    height: 5px;
    width: 36%;
    background-color: #000000;
}
.y {
    height: 5px;
    width: 35%;
    background-color: #FFF25C;
}
.o {
    height: 5px;
    width: 19%;
    background-color: #FFD524;
}
.bl {
    height: 5px;
    width: 10%;
    background-color: #8DD7F7;
}