form {
    margin-top: 40px;
}
ion-button{
    width: 130px;
    height: 40px;
    margin: auto;
    display: flex;
    margin-top: 30px;
    --background-activated: var(--ion-pimary-color, #ffffff80);
}