form {
    margin-top: 20px;
}
label {
    font-size: 12px;
    font-weight: bold;
    padding-left: 20px;
    color: #000;
}
ion-button{
    width: 130px;
    height: 40px;
    margin: auto;
    display: flex;
    margin-top: 30px;
    --background-activated: var(--ion-pimary-color, #ffffff80);
}