<app-header-tab [titulo]="'AJUSTES' | translate"></app-header-tab>

<ion-content>
    <ion-list mode="ios" lines="none">
        <ion-item class="items" button (click)="presentActionSheet()">
            <ion-icon name="language"></ion-icon>
            <ion-label>{{ 'IDIOMA' | translate }}</ion-label> 
        </ion-item>
        <ion-item class="items" button routerLink="/pages/acerca-de">
            <ion-icon name="information-circle-outline"></ion-icon>
            <ion-label>{{ 'ACERCADE' | translate }}</ion-label>
        </ion-item>
        <!-- <ion-item class="items" button routerLink="/pages/solicitar-taxi">
            <ion-icon name="call-outline"></ion-icon>
            <ion-label>{{ 'SOLICITAR' | translate }}</ion-label>
        </ion-item> -->
    </ion-list>

</ion-content>
