
<ion-button class="button-arrow" (click)="show()" mode="ios">
  <ion-icon name="chevron-up-outline" id="icon-arrow"></ion-icon>
</ion-button>

<div id="form">
  <form (ngSubmit)="cotizar()" [formGroup]="formulario" autocomplete="off" class="p-20">

    <input 
      formControlName="origen" 
      name="origen"
      class="input_formulario" 
      [placeholder]="'ORIGEN' | translate"
      #placesRef="ngx-places" 
      (onAddressChange)="origenAddress($event)"
      ngx-google-places-autocomplete/>

    <input 
      formControlName="destino" 
      name="destino"
      class="input_formulario" 
      [placeholder]="'DESTINO' | translate"
      #placesRef="ngx-places" 
      (onAddressChange)="destinoAddress($event)"
      ngx-google-places-autocomplete/>

    <div class="flex">
      <input  
        [placeholder]="'ESTIMADO' | translate" 
        formControlName="estimado" 
        name="estimado"/>
      <ion-button mode="ios" type="submit" [disabled]="!formulario.valid">Calcular</ion-button>
    </div>

  </form>
</div>