<ion-tabs mode="md">

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="cotizar">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>{{ 'COTIZAR' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="nuevo-viaje">
      <ion-icon name="paper-plane"></ion-icon>
      <ion-label>{{ 'NUEVOVIAJE2' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ajustes">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>{{ 'AJUSTES' | translate }}</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
