.item-about {
    width: 100%;
    height: 50px;
    display: flex;
}
.slot-start {
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img {
        width: 20px;
    }
}
.slot-secondary {
    width: calc(100% - 30px);
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    label {
        font-size: 14px;
        font-weight: 600;
    }
}