<app-header-page 
  [titulo]="'UQQ-000'"
  [rutaDefaultBack]="'/pages/tabs/nuevo-viaje'"
  [slot]="'end'">
</app-header-page>

<ion-content>

  <div class="contenedor-space">
    <div class="contenedor">

      <div class="img">
        <img [src]="'' | imagenes">
        <app-award></app-award>
      </div>

      <div class="d-text">
        <ion-label class="label-one">{{ 'NOMBRE' | translate }}: Jhoan</ion-label>
        <ion-label class="label-one">{{ 'APELLIDO' | translate }}: Jimenez</ion-label>
        <ion-label class="label-two">Taxis 1a S.A.S.</ion-label>
      </div>

      <div class="con-permiso">
        {{ 'CONPERMISOPARAOPERAR' | translate }}
        <ion-icon name="checkmark-circle"></ion-icon>
      </div>

      <div class="opciones">
        <div class="w-4 centrar">
          <ion-icon name="heart" class="icon" id="open-modal-gusto"></ion-icon>
          <ion-label class="label-opcion" id="open-modal-gusto">{{ 'GUSTO' | translate }}</ion-label>
        </div>
        <div class="w-4 centrar">
          <ion-icon name="thumbs-down" class="icon" id="open-modal-no-gusto"></ion-icon>
          <ion-label class="label-opcion" id="open-modal-no-gusto">{{ 'NOGUSTO' | translate }}</ion-label>
        </div>
        <div class="w-4 centrar">
          <ion-icon name="share-social" class="icon" (click)="shared()"></ion-icon>
          <ion-label class="label-opcion" (click)="shared()">{{ 'COMPARTIR' | translate }}</ion-label>
        </div>
      </div>

    </div>
  </div>

  <app-calificar-gusto></app-calificar-gusto>
  <app-calificar-no-gusto></app-calificar-no-gusto>

</ion-content>
