.contenedor {
    background: #8DD7F7;
    border-radius: 20px;
    display: flex;
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    .content-img {
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 40px;
        }
    }
    .content-com {
        width: calc(100% - 80px);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        label {
            font-size: 18px;
            font-weight: 800;
            color: #000;
            span {
                font-size: 12px;
                font-weight: 500;
                color: #000;
            }
        }
    }
}