

<ion-modal [isOpen]="modalsService.modalTarifas" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-content>
      <app-header
        [modal]="true"
        [modal2]="true"
        [backColor]="'#000'"
        [title]="'TARIFAOFICIALES' | translate"
        (btnCancel)="cancel()">
      </app-header>
      <div class="contenedor">
        <app-item-tarifa 
          *ngFor="let item of tarifas"
          [tarifa]="item">
        </app-item-tarifa>
      </div>
      <div class="h10"></div>
      <app-item-tarifa-car></app-item-tarifa-car>
      <div class="h10"></div>
      <app-item-tarifa-banderazo></app-item-tarifa-banderazo>
      <div class="h10"></div>
      <div class="h10"></div>
      <app-barra-colores-tabs></app-barra-colores-tabs>
      <div class="h10"></div>
      <div class="h10"></div>
    </ion-content>
  </ng-template>
</ion-modal>